.bottom-buttons {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 2px 0 2px #ccc;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-buttons .btn {
    padding: 10px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.hide {
    display: none;
}

.modal .box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    background: #fff;
    border-radius: 1vw;
    padding: 1vw;
}

.content-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.content-body img {
    width: 14vw;
    height: 14vw;
}

#showOriginImg {
    display: none;
}
.gap {
    height: 20vw;
}